#root {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  min-width: 90vw;
  align-items: center;
  margin-bottom: 50px;
}

.selfie {
  height: 20%;
  width: 20%;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .content {
    min-width: auto;
  }
}