header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #f0e7cc;
  text-align: center;
}

h2 {
  margin-top: 8px;
}

.navbar {
  padding: 0;
  border-radius: 8px;
  max-width: fit-content;
}

.row {
  justify-content: center;
}

.card {
  min-height: 250px;
  min-width: 250px;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 16px;
}

.card-body {
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  filter: blur(2px);
}

.card-links {
  display: none;
  transition: all 0.2s ease-in-out;
  color: black;
}

.card-body:hover{
 filter: blur(0);
}

.card-body:hover .card-links {
  background: linear-gradient(#002b36, #f0e7cc);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: inset;
}

a {
  font-size: large;
  color: #f0e7cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 16px;
  text-align: center;
}

.resume-link {
  margin-top: 24px;
}

.resume {
  margin-top: 16px;
}

form {
  display: flex;
  align-self: center;
}

fieldset {
  min-width: 500px;
}

.btn {
  margin-top: 16px;
}

.img-link {
  transition: all 250ms ease-in-out;
}

.img-link:hover {
  transform: scale(1.2);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: #002b36;
}


@media (max-width: 600px) {
  fieldset {
    min-width: 75vw;
  }
  .card {
    min-height: 250px;
    min-width: auto;
  }
}