header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #f0e7cc;
}

h2 {
  margin-top: 8px;
}

.navbar {
  padding: 0;
  border-radius: 8px;
  max-width: fit-content;
}

.card {
  min-height: 250px;
  min-width: 250px;
  padding-left: 0%;
  padding-right: 0%;
}

.card-body {
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  filter: blur(2px);
}

.card-links {
  display: none;
  transition: all 0.2s ease-in-out;
  color: black;
}

.card-body:hover{
 filter: blur(0);
}

.card-body:hover .card-links {
  background: linear-gradient(#002b36, #f0e7cc);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: inset;
}

a {
  font-size: large;
  color: #f0e7cc;
  text-decoration: none;
}

p {
  margin-top: 8px;
}

form {
  max-width: 50%;
}

.btn {
  margin-top: 16px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: #002b36;
}
