
body {
  display: flex;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #f0e7cc;
}

h2 {
  margin-top: 8px;
  color: #b58900;
}

.navbar {
  padding: 0;
  border-radius: 8px;
}

.card {
  min-height: 250px;
  min-width: 250px;
  padding-left: 0%;
  padding-right: 0%;
}

.card-body {
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  filter: blur(2px);
}

.card-links {
  display: none;
  transition: all 0.2s ease-in-out;
}

.card-body:hover{
 filter: blur(0);
}

.card-body:hover .card-links {
  background-color: #002b36;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: inset;
}

a {
  font-size: larger;
  color: #f0e7cc;
  text-decoration: none;
}

.btn {
  margin-top: 16px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: #002b36;
}
